<section>
  <div class="p-4">
    <div
      class="grid grid-cols-1 gap-4 list-none lg:grid-cols-3 lg:grid-rows-3 xl:grid-cols-4 xl:grid-rows-4"
    >
      <div
        class="lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8"
      >
        <div class="relative flex items-center gap-x-4">
          <img
            src="/images/profile.png"
            alt=""
            class="h-10 w-10 rounded-full ring-1 dark:ring-white/10 ring-primary/5"
          />
          <div class="text-sm leading-6">
            <p class="font-semibold text-primary dark:text-white">
              <a href="#">
                <span class="absolute inset-0"></span>
                  Farhan Ginting
              </a>
            </p>
            <p class="text-zinc-500 dark:text-zinc-400">
              Pelajar Menengah Kejurusan
            </p>
          </div>
        </div>
        <p
          class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white"
        >
          Hai, Selamat datang
        </p>
        <p
          class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 font-light lg:text-xl"
        >
        "Website dan desktop? Saya membangunnya, mendesainnya, dan membuatnya berkembang."
          <br />
          <br />
          Selama tiga tahun, saya menyelami dunia pemrograman dengan penuh semangat. Berbekal pengetahuan dan keahlian yang dipelajari, saya mampu mencipta berbagai karya digital, mulai dari website yang menawan hingga desktop yang interaktif.
          <br />
          <br />
          Dengan dedikasi dan keahlian yang saya miliki, saya siap membantu Anda mewujudkan berbagai kebutuhan digital Anda. Baik itu website yang memukau, desktop yang interaktif, ataupun project lainnya, saya akan bekerja sama dengan Anda untuk menghasilkan karya digital yang optimal.
        </p>
      </div>
      <div
        class="ring-1 dark:ring-white/10 ring-primary/5 rounded-3xl justify-between shadow-xl dark:shadow-thick items-center flex flex-col p-8 h-full bg-white  dark:bg-secondary"
      >
        <div class="w-full">
          <p
            class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-8xl"
          >
            Cari saya di
          </p>
        </div>
        <div class="grid mt-4 grid-cols-4 md:grid-cols-8 lg:grid-cols-4 gap-y-4 gap-4 justify-center w-full">
          <a
            href="mailto:farhantriputrawisnu@gmail.com?&subject=Tulis Subjek di sini&body=Tulis pesan anda di sini"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-mail h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50"
              viewBox="0 0 24 24"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
              ></path><path d="M3 7l9 6l9 -6"></path></svg
            >
          </a>
          <a
            href="https://github.com/FarhanGinting"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-github h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50"
              viewBox="0 0 24 24"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
              ></path></svg
            >
          </a>
          <a
            href="http://linkedin.com/in/farhan-ginting"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50 icon-tabler-brand-linkedin"
              viewBox="0 0 24 24"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
              ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"
              ></path><path d="M12 16l0 -5"></path><path
                d="M16 16v-3a2 2 0 0 0 -4 0"></path></svg
            >
          </a><a
            href="https://web.facebook.com/farhan.ginting.921"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50 icon-tabler-brand-facebook"
              viewBox="0 0 24 24"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
              ></path></svg
            >
          </a>
        </div>
      </div>
      <a

      
        href="https://ketopraksedapmalam.site"
        class="ring-1 lg:row-span-2 flex flex-col justify-between group hover:ring-primary/10 dark:hover:ring-white/20 duration-300 h-full dark:ring-white/10 ring-primary/5 lg:row-start-2 md:grid-cols-2 md:grid lg:gap-0 md:items-center md:gap-12 lg:grid-cols-none lg:col-start-2 lg:col-span-2 rounded-3xl p-8 bg-white dark:bg-secondary shadow-xl dark:shadow-thick"
      >
        <div>
          <p
            class="ext-xl tracking-tight font-medium text-primary dark:text-white md:text-6xl"
          >
            Ketoprak Sedap Malam
          </p>
          <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400">
            "Bersama tim saya, kami membangun situs web yang dirancang khusus untuk membantu UKM mengembangkan usahanya. Situs web ini menyediakan berbagai fitur yang dapat membantu UKM untuk mempresentasikan produk dan layanan mereka, menjangkau pelanggan baru, dan meningkatkan penjualan."
            <br />
            <br />
            
          </p>
        </div>
        <div class="mt-8">
          <img
            src="/images/ketopraksedapmalam.png"
            class="rounded-2xl group-hover:ring-white/20 duration-300 invert dark:invert-0 aspect-[4/4] bg-primary/5 dark:bg-primary ring-1 ring-white/10  object-cover"
            alt=""
          />
        </div>
      </a>
      <div
        class="ring-1 dark:ring-white/10  ring-primary/5 flex flex-col justify-between items-center rounded-3xl shadow-xl dark:shadow-thick p-8  bg-white dark:bg-secondary overflow-hidden text-center lg:text-left"
      >
        <div>
          <p
            class="text-xl text-primary dark:text-white lg:text-7xl tracking-tight"
          >
            Lihat CV
          </p>
          <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 md:max-w-xs lg:max-w-none">
            "Dengan semangat dan dedikasi, saya telah membangun karier yang bermakna. Ingin tahu bagaimana? Jelajahi perjalanan saya!"
          </p>
        </div>
        <div class="w-full mt-8 md:max-w-xs lg:max-w-none">
          <a href="https://docs.google.com/uc?export=download&id=10Ale3PpCqyemqI9EmCodEId06O72UyWJ"
            type="button"
            class="text-sm py-2 w-full px-4 h-12 font-semibold focus:ring-2 rounded-lg bg-primary dark:bg-white dark:text-primary dark:hover:text-white hover:text-primary dark:hover:bg-white/5 hover:bg-primary/10 text-white flex duration-200 focus:ring-offset-2 focus:ring-inline-flex items-center justify-between"
          >
            Download CV
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-download w-4 h-4"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path><path
                d="M7 11l5 5l5 -5"></path><path d="M12 4l0 12"></path></svg
            >
          </a>
        </div>
      </div>
      <a href="https://drive.google.com/drive/folders/10ShLeAwiOah5bF3m2BJfUPrWYS7H4ZI2" target="_blank" class="ring-1 lg:row-start-3 items-center h-full flex p-8 flex-col justify-center hover:ring-primary/5 dark:hover:ring-white/20 dark:ring-white/10 ring-primary/5 relative rounded-3xl overflow-hidden bg-white dark:bg-secondary shadow-xl dark:shadow-thick">
        <img src="/images/Sertifikat-Magang-Diginusa.jpg" alt="Logo" class="w-24 h-24 lg:w-48 xl:h-64 xl:w-64 lg:h-48 mt-6">
        <p class="text-xl text-primary dark:text-white lg:text-2xl mt-6">Sertifikat Saya</p>
      </a>
      
      <a
        href="https://github.com/FarhanGinting/Sch-GaleriFoto"
        class="lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 hover:ring-primary/5 bg-white dark:bg-secondary  dark:hover:ring-white/20 overflow-hidden duration-300 shadow-xl dark:shadow-thick rounded-3xl p-8"
      >
        <div class="-mr-24">
          <img
            src="/images/GaleriFoto.jpg"
            class="rounded-2xl object-cover ring-1 h-64 w-full lg:h-auto dark:ring-white/10 ring-primary/5 bg-tertiary"
            alt=""
          />
        </div>
        <div class="mt-8">
          <div class="flex flex-wrap">
            <div
              class="flex items-center text-sm font-medium text-primary dark:text-white"
            >
            <img src="/images/laravel.png" alt="Laravel Logo" class="ml-2.5">
            <span class="ml-2.5">Laravel</span>
            
            </div>
            <div
              class="flex items-center ml-6 text-sm font-medium text-primary dark:text-white"
            >
            <img src="/images/mysql.png" alt="Laravel Logo" class="ml-2.5">
            <span class="ml-2.5">MySQL</span>
            </div>
          </div>
          <p
            class="ext-xl tracking-tight font-medium text-primary dark:text-white md:text-6xl mt-6"
          >
            Gallery Foto
          </p>
          <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 font-light">
            "Salah satu proyek saya yang menonjol adalah situs web untuk menyimpan foto-foto pengguna. Keistimewaan situs web ini adalah kemampuannya untuk menyimpan foto dalam bentuk album, serta memungkinkan pengguna untuk menyukai dan berkomentar pada foto."
          </p>
        </div>
      </a>

      <div class="ring-1 dark:ring-white/10 ring-primary/5 flex flex-col p-8 h-full justify-center items-center rounded-3xl overflow-hidden relative lg:col-span-2 lg:row-start-4 bg-white dark:bg-secondary shadow-xl dark:shadow-thick">
        <div class="relative p-8 text-center w-full">
            <p class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-6xl">
                Alat Produktif Saya <span class="lg:block"></span>
            </p>
            <form class="mt-6 sm:flex w-full lg:max-w-sm mx-auto">
                <!-- Informasi tentang alat produktif dengan gambar SVG -->
                <div class="mt-8 sm:ml-2 sm:mt-0 sm:flex-shrink-0 w-full text-center">
                    <p class="text-lg text-primary dark:text-white">
                        Saya menggunakan alat produktif berikut:<br>
                        - <img src="/images/VScode.png" alt="Visual Studio Code" class="w-8 h-8 inline-block align-text-bottom"> Visual Studio Code<br>
                        - <img src="/images/Laragon.png" alt="Laragon" class="w-8 h-8 inline-block align-text-bottom"> Laragon<br>
                        - <img src="/images/Vivaldi.png" alt="Vivaldi" class="w-8 h-8 inline-block align-text-bottom"> Vivaldi
                    </p>
                </div>
            </form>
        </div>
    </div>
    
    
    
    

    
      <div
        class="ring-1 dark:ring-white/10 ring-primary/5 shadow-xl dark:shadow-thick rounded-3xl p-8 lg:row-start-4 h-full flex flex-col justify-between bg-white dark:bg-secondary"
      >
        <p
          class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-5xl"
        >
          Motivasi
        </p>
        <div class="md:grid md:grid-cols-2 gap-6 lg:grid-cols-1">
          <div class="mt-4">
            <p class="text-sm text-pink-500 dark:text-pink-400">
              "Kuncinya terletak bukan pada bagaimana anda menghabiskan waktu, namun dalam menginvestasikan waktu Anda."
            </p>
            <p class="text-xs mt-2 text-zinc-500">
              <span class="block text-xs">Stephen R Covey</span>
              <span class="block text-xs"> American educator, author and businessman</span>
            </p>
          </div>
          <div class="mt-4">
            <p class="text-sm text-orange-500 dark:text-orange-300">
              "Jangan membandingkan dirimu dengan orang lain. Bandingkan diri kamu dengan pribadi yang kemarin" 
            </p>
            <p class="text-xs mt-2 text-zinc-500">
              <span class="block text-xs">Anonim</span>
              <span class="block text-xs"> ???</span>
            </p>
          </div>
        </div>
      </div>
      <div class="lg:col-span-2 xl:col-span-1 h-full flex flex-col justify-between lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8">
        <p class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-3xl text-justify">
          Saya senang membuat materi informatika yang menarik dan mudah dipahami untuk membantu orang lain mempelajari dunia informatika dan meningkatkan skill mereka. 
          <br />
          <br />
          Saya juga memiliki ketertarikan yang besar terhadap ethical hacking untuk memahami cara kerja hacker dan bagaimana melindungi sistem dari serangan cyber.
        </p>
        <p class="text-primary dark:text-white mt-4">Farhan Ginting</p>
      </div>
      
    </div>
  </div>
</section>
